<html>
    <head>
        <title>Ahorcado</title>
        <link rel="stylesheet" href="/static/css/estilo.css">
    </head>
    <body>
        <div>
            <div>
                {{abecedario}}
            </div>
            <div>
                <img src="{{imagen}}" alt="Ahorcado" />
                
            </div>
            <div>
                {%- for val in lista_pal %}
                    {%-for keys in val %}
                        {{val[keys]}}
                    {%-endfor%}
                {%- endfor %}

            </div>
            <div>
                {% if chequeo==True %}
                    <h3>Ganaste papu</h3>
                {% elif chequeo==False and conteo==6 %}
                   
                    <h3>Perdiste papu</h3>
                {% endif %}

            </div>
            <div>
                <form action="{{request.base_url}}" method="post">
                    <h3>Letra:</h3> <br>
                    {% from "dropdown.html" import dropdown %}
                    {{ dropdown('valor', lista_abc) }}
                    {% if not fin_juego %}
                    <button type="submit">Enviar</button>
                    {% else %}
                    <div> <a href="/" type="submit" >Nuevo Juego</a></div>
                    {% endif %}
                    
                </form>


        </div>
        
    </body>

</html>