<html>
    <head>
        <title>Ahorcado</title>
        <link rel="stylesheet" href="/static/css/estilo.css">
    </head>
    <body>
        <div class="columna">
            <h1>Juego Ahorcado</h1>
            <div class="renglon" >
                {{abcedario}}
            </div>
            <div class="renglon">
                <img src="{{imagen}}" alt="Ahorcado" />
                
            </div>
            <div class="renglon">
                <div class="letras">{%- for val in lista_pal %}
                   {%-for keys in val %}
                        {{val[keys]}}
                    {%-endfor%}
                {%- endfor %}</div>

            </div>
           
            <div class="renglon">
                <form action="{{request.base_url}}" method="post">
                    <h3>Letra:</h3> <br>
                    {% from "dropdown.html" import dropdown %}
                    {{ dropdown('valor', lista_abc) }}
                    {% if not fin_juego %}
                    <button type="submit">Enviar</button>
                    {% else %}
                    <div> <a class="reset" href="/nuevo_juego" >Nuevo Juego</a></div>
                    {% endif %}
                    
                </form>


        </div>
        
    </body>

</html>