{% extends "base.html" %}
{% block title %}Cartelera de CINEMOVIE{% endblock title %}
{% block head %}
{{ super }}
{% endblock head %}
{% block body %}
<div>
    <h1>Cartelera de CINEMOVIE</h1>
    <h2>Las proximas películas a ver</h2>
    <div>
        {% for pelicula in lista  %}
            <div>
            <a href="/pelicula/{{pelicula['id']}}">
            <img src="{{ pelicula['url_poster'] }}" width="150" alt="poster de {{pelicula['titulo']}}">
            {{ pelicula['titulo'] }}
            </a>
            </div>
        
        {% endfor %}
    </div>
</div>

{% endblock body %}