{% extends "base.html" %}
{% block title %}Cartelera de CINEMOVIE{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
<div>
    <h1>Cartelera de CINEMOVIE</h1>
    <h2>Las próximas películas a ver</h2>
    <div>
        {% for pelicula in lista %}
        <div>
            <a href="/pelicula/{{pelicula['id']}}" class="titulo">
                <img src="{{pelicula['url_poster']}}" width="150">
                {{pelicula['titulo']}}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}